<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Mad Lib</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body class="m-2">
    <h1>Fill in the fields to complete the story!</h1>
    <form action="/foodie" method="post">
      <label for="food" class="form-label">Food</label>
      <input id="food" class="form-control" name="food" type="text">
      <label for="name" class="form-label">Name</label>
      <input id="name" class="form-control" name="name" type="text">
      <label for="noun" class="form-label">Noun</label>
      <input id="noun" class="form-control" name="noun" type="text">
      <label for="adjective" class="form-label">Adjective</label>
      <input id="adjective" class="form-control" name="adjective" type="text">
      <label for="verb1" class="form-label">Verb1</label>
      <input id="verb1" class="form-control" name="verb1" type="text">
      <label for="verb2" class="form-label">Verb2</label>
      <input id="verb2" class="form-control" name="verb2" type="text">
      <label for="verb3" class="form-label">Verb3</label>
      <input id="verb3" class="form-control" name="verb3" type="text">
      <button type="submit" class="btn btn-primary">Go!</button>
    </form>
  </body>
</html>