<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Mad Lib</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body class="m-2">
    <h1>Fill in the fields to complete the story!</h1>
    <form action="/story" method="post">
      <label for="person1" class="form-label">Person 1</label>
      <input id="person1" class="form-control" name="person1" type="text">
      <label for="person2" class="form-label">Person 2</label>
      <input id="person2" class="form-control" name="person2" type="text">
      <label for="animal" class="form-label">Animal</label>
      <input id="animal" class="form-control" name="animal" type="text">
      <label for="exclamation" class="form-label">Exclamation!</label>
      <input id="exclamation" class="form-control" name="exclamation" type="text">
      <label for="noun" class="form-label">Noun</label>
      <input id="noun" class="form-control" name="noun" type="text">
      <label for="verb" class="form-label">Verb</label>
      <input id="verb" class="form-control" name="verb" type="text">
     <button type="submit" class="btn btn-primary">Go!</button>
    </form>
  </body>
</html>