<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Pick a theme for a Mad Lib</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body class="m-2">
    <h1>Pick a theme your would like to explore.</h1>
    <div>
      <a href="/formFantasticalAdventure">Click here for Fantastical Adventure!</a>
    </div>
    <div>
      <a href="/formFoodie">Click here for Foodie!</a>
    </div>
  </body>
</html>